In [2]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd
from memory_profiler import memory_usage

In [ ]:
%load_ext rpy2.ipython
%load_ext memory_profiler

R[write to console]: Error: cons memory exhausted (limit reached?)

R[write to console]: Error: no more error handlers available (recursive errors?); invoking 'abort' restart

In [ ]:
article_id = 14096681  # this is the unique identifier of the article on figshare
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "../figshareausraincloud/raw_data/"

In [ ]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data, feel free to check it out
files = data["files"]             # this is just the data about the files, which is what we want
files

In [ ]:
%%time
files_to_dl = ["data.zip"]  # feel free to add other files here
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

In [ ]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

In [ ]:
%%time
# Shows time that regular python takes to merge file
# Join all data together
## here we are using a normal python way of merging the data 
os.makedirs("../figshareausraincloud/processed_data/", exist_ok=True)
files = glob.glob('../figshareausraincloud/raw_data/*.csv')
df = pd.concat((pd.read_csv(file, index_col=0).assign(model=re.findall(r'^.*?(?=_)', os.path.basename(file))[0])
                for file in files))
df.to_csv("../figshareausraincloud/processed_data/combined_data.csv")

In [6]:
%%time
df = pd.read_csv("../figshareausraincloud/processed_data/combined_data.csv")

Wall time: 1min 37s

In [12]:
df.head(10)

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-36.25,-35.0,140.625,142.5,3.293256e-13,ACCESS-CM2
1,1889-01-02 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
2,1889-01-03 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
3,1889-01-04 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
4,1889-01-05 12:00:00,-36.25,-35.0,140.625,142.5,1.047658e-02,ACCESS-CM2
5,1889-01-06 12:00:00,-36.25,-35.0,140.625,142.5,3.292260e-02,ACCESS-CM2
6,1889-01-07 12:00:00,-36.25,-35.0,140.625,142.5,8.906468e-02,ACCESS-CM2
7,1889-01-08 12:00:00,-36.25,-35.0,140.625,142.5,3.158012e-02,ACCESS-CM2
8,1889-01-09 12:00:00,-36.25,-35.0,140.625,142.5,3.107391e-02,ACCESS-CM2
9,1889-01-10 12:00:00,-36.25,-35.0,140.625,142.5,3.304103e-02,ACCESS-CM2

In [4]:
df.shape

(62513863, 7)

In [4]:
import dask.dataframe as dd

In [5]:
%%time
ddf = dd.read_csv("../figshareausraincloud/processed_data/combined_data.csv")

Wall time: 48 ms

In [9]:
df.describe()

            lat_min       lat_max       lon_min       lon_max  rain (mm/day)
count  5.924854e+07  6.246784e+07  5.924854e+07  6.246784e+07   5.929456e+07
mean  -3.310482e+01 -3.197757e+01  1.469059e+02  1.482150e+02   1.901827e+00
std    1.963549e+00  1.992067e+00  3.793784e+00  3.809994e+00   5.588275e+00
min   -3.646739e+01 -3.600000e+01  1.406250e+02  1.412500e+02  -3.807373e-12
25%   -3.486911e+01 -3.366221e+01  1.434375e+02  1.450000e+02   3.876672e-06
50%   -3.300000e+01 -3.204188e+01  1.468750e+02  1.481250e+02   6.161705e-02
75%   -3.140170e+01 -3.015707e+01  1.501875e+02  1.513125e+02   1.021314e+00
max   -2.990000e+01 -2.790606e+01  1.537500e+02  1.556250e+02   4.329395e+02

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62513863 entries, 0 to 62513862
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   time           object
 1   lat_min        float64
 2   lat_max        float64
 3   lon_min        float64
 4   lon_max        float64
 5   rain (mm/day)  float64
 6   model          object
dtypes: float64(5), object(2)
memory usage: 3.3+ GB

In [15]:
df['lat_min'].astype('float32')

0          -36.250000
1          -36.250000
2          -36.250000
3          -36.250000
4          -36.250000
              ...
62513858   -30.157068
62513859   -30.157068
62513860   -30.157068
62513861   -30.157068
62513862   -30.157068
Name: lat_min, Length: 62513863, dtype: float32